version: '3.4'

services:
  ray.jdtool.httpapi.host:
    image: zai7lou/jd_tool_api
    container_name: JdToolApi
    ports:
      - 9001:9001
    tty: true
    volumes:
      - ./App/Logs:/app/Logs
      - ../js_tool/jd-docker/config/cookie.sh:/app/wwwroot/cookie.sh
    networks:
      - myNetWork
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:9001
      - App:CorsOrigins=http://106.15.176.79:9000
      - App:RedirectAllowedUrls=*

  ray.jdtool.blazor:
    image: zai7lou/jd_tool_web
    container_name: JdToolWeb
    ports:
      - 9000:9000
    tty: true
    volumes:
      - ./App/blazor/appsettings.Production.json:/app/appsettings.Production.json
      - ./App/blazor/nginx.conf:/etc/nginx/nginx.conf
    environment:
      - AuthServer:Authority=http://106.15.176.79:9000
      - RemoteServices:Default:BaseUrl=http://106.15.176.79:9000
    networks:
      - myNetWork

networks:
  myNetWork:

